body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    background-color: #1E1E1E;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #FFFFFF;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #BB86FC;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.destaque img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.posts-recentes article {
    background-color: #1E1E1E;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

.posts-recentes article img {
    max-width: 100%;
    border-radius: 5px;
}

.posts-recentes article h3 a {
    color: #BB86FC;
    text-decoration: none;
}

footer {
    background-color: #1E1E1E;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
}

footer a {
    color: #BB86FC;
    text-decoration: none;
}

a{
    color: #BB86FC;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1E1E1E;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

label {
    margin-bottom: 8px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}

input[type="text"], 
input[type="email"], 
textarea {
    padding: 14px;
    font-size: 16px;
    border: 2px solid #5c0aa8;
    border-radius: 8px;
    margin-bottom: 12px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, textarea:focus {
    border-color: #b22cf0;
    box-shadow: 0 0 8px #b22cf0;
    outline: none;
}

input:hover, textarea:hover {
    border-color: #b22cf0;
}

button {
    padding: 14px;
    font-size: 18px;
    background-color: #c74fff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #b22cf0;
    transform: scale(1.05);
}

@media (max-width: 480px) {
    form {
        padding: 16px;
    }

    input, textarea {
        padding: 12px;
    }

    button {
        font-size: 16px;
    }
}
